Integer & Float Mix

•	Create an integer a and a float b.

•	Perform addition, subtraction, multiplication, and division on them.

•	Print the results and observe the type of each result with type().

In [22]:
a = int(5)
b = float(6)
print(a)
print(b)

5
6.0

In [23]:
add = a + b
sub = a - b
mult = a * b 
div = a / b
print("Addition :", add , "\nType :", type(add))
print("Subtraction :", sub, "\nType :", type(sub))
print("Multiplication :", mult, "\nType :", type(mult))
print("Division :", div, "\nType :", type(div))

Addition : 11.0
Type : <class 'float'>
Subtraction : -1.0
Type : <class 'float'>
Multiplication : 30.0
Type : <class 'float'>
Division : 0.8333333333333334
Type : <class 'float'>

When carrying any operation that includes float and int.The output will always be a float which preserves the precision because the integer cannot represent decimals.

Large Integers & Type

•	Assign a very large integer to a variable (e.g., in the billions).

•	Print it and confirm its type is still int in Python or not.

In [24]:
a = int(100000000000)
print(type(a))
#The type of the integer even if assigned with billions is still a int

<class 'int'>

Complex Number Basics  

•	Create a complex number z = 3 + 4j.

•	Print its real part, imaginary part, and confirm its type is complex.

•	Perform a basic arithmetic operation with another complex number (e.g., (3 + 4j) + (1 + 2j)).

In [25]:
z = 3 + 4j

In [26]:
print("Real Part :", z.real, "\nType :", type(z.real))
print("Imaginary Part :",z.imag, "\nType :", type(z.imag))
#When accessing the real and the imaginary part of a complex number we reference using the variable name of that complex number
#The type of the number that is the real and imaginary part is still a float

Real Part : 3.0
Type : <class 'float'>
Imaginary Part : 4.0
Type : <class 'float'>

In [27]:
a = 1 +2j
print(z+a)
#When doing arithmetic operation between two complex numbers, the correspoding real and the imaginary part will add up

(4+6j)

Boolean from Comparisons

•	Create two variables, m = 10 and n = 15.

•	Define status = (m > n) and print status.

•	Confirm type(status) is bool.

•	Assign status = (m != n) and print again.

In [28]:
m = 10 
n = 15

In [29]:
status = m > n
print(status)

False

In [30]:
print(type(status))

<class 'bool'>

In [31]:
status = (m != n)
print(status)

True

String Creation & Indexing

•	Create a string text = "HelloWorld".

•	Print the first and last characters using positive and negative indexing.

•	Comment on the total length of the string.

In [32]:
text = "HelloWorld"

In [33]:
print(text[0])
print(text[-1])

H
d

In [34]:
#The total length of the string is 10

String Slicing

•	With lang = "PythonProgramming", print the substring from index 2 to 8.

•	Print the substring from the start up to index 5.

•	Print the entire string in reverse using slicing.

In [35]:
lang = "PythonProgramming"
sub_lang = lang[2:9]
print(sub_lang)

thonPro

In [36]:
print(lang[:6])

Python

In [37]:
print(lang[-1::-1])
#Starting from the last index till the last and using the step 1 so it moves from the right to left

gnimmargorPnohtyP

String Methods

•	Let phrase = " Hello, Python World! ".

•	Demonstrate strip(), upper(), and replace() on this string.

•	Print the results and comment on immutability of strings in Python.

In [38]:
phrase = "Hello, Python World!"

In [39]:
print(phrase.strip())
#The use of the strip function is to remove any whitespaces between the start and end of a string 
print(phrase.upper())
#.upper() just changes a certain string to uppercase
print(phrase.replace("Hello", "Hi"))
#Syntax: : .replace(old, new, step)
#When step is passed as an argument, the only strings that matches the old strings and the count are replaced where other are left untouched.

Hello, Python World!
HELLO, PYTHON WORLD!
Hi, Python World!

In Python strings are immutable meaning that once a string is created, it cannot be changed. Any operation that tries to make changes in that string will create a new string.

Uses of .replace() in Data Science:

• Replacing missing values like "?", "NA", or "-" with NaN

• Converting text labels to numeric values (e.g., "Yes" → 1, "No" → 0)

• Standardizing inconsistent categorical entries (e.g., "M", "Male" → "Male")
 
• Removing or replacing special characters in text columns (e.g., "@", "#")

• Fixing data entry errors or typos (e.g., "Untied States" → "United States")

• Changing units or scales (e.g., "km" → "kilometers")

• Mapping values for feature engineering (e.g., "Low", "Medium", "High" → 1, 2, 3)

• Preparing data for machine learning models by making values consistent and usable

String Formatting

•	Create two variables: name = "Rajesh" and score = 95.

•	Print: "Alice scored 95 points." using two methods (concatenation and an f-string or str.format()).

In [40]:
name = "Rajesh"
score = 45

In [41]:
#Printing the string using concatenation
print(name + " scored " + str(score) + " points.")

Rajesh scored 45 points.

In [42]:

#fstring manipulations
print(f"{name} scored {score} points.")

Rajesh scored 45 points.

In [43]:
#Using ,foramt for printing a certain string
print("{} scored {} points".format(name, score))

Rajesh scored 45 points

Boolean Operations in Expressions

•	Write a small expression using and, or, and not with boolean values.

•	Example: result = not(True and False) or (5 > 3).

•	Print result and explain how Python evaluated the expression.

In [44]:
print(True & True)
print(True | False)
print(not(True))

#When using NOT in python we use 'not' instead of the "!"

True
True
False

In [45]:
result = not(True and False)
print(result)

help = (5>3)
print(help)

True
True

The python evaluated the result by applying the OR, AND and not operators and the combination of these.

List Creation & Access

•	Create a list of 5 different integers.

•	Print the first item, middle item, and last item using indexing.

In [46]:
lst = [1,3,5,7,9]

In [47]:
print("First Item :", lst[0])
print("Middle Item :", lst[2])
print("Last Item :", lst[-1])

First Item : 1
Middle Item : 5
Last Item : 9

List Insertion & Deletion

•	Start with a list nums = [10, 20, 30, 40].

•	Insert 25 at index 2.

•	Remove the last element.

•	Print the updated list.

In [48]:
nums = [10,20,30,40]

In [49]:
nums.insert(2, 25)
nums

[10, 20, 25, 30, 40]

In [50]:
nums.remove(40)
nums

[10, 20, 25, 30]

In [51]:
print("Updated list :", nums)

Updated list : [10, 20, 25, 30]

List Slicing

•	Given letters = ["a", "b", "c", "d", "e"], print the slice that contains only ["b", "c", "d"].

•	Print the slice that omits the first and the last element.

In [52]:
letters = ["a","b","c","d","e"]

In [53]:
print(letters[1:4])

['b', 'c', 'd']

In [54]:
print(letters[1:-1])

['b', 'c', 'd']

The above two did the same thing and using the negative indexing as the stop came handy this time.

Sorting & Reversing

•	Create a list of random integers.

•	Sort the list in ascending order and print it.

•	Reverse the sorted list and print again.

In [55]:
lst = [1,266,32,45,35,356,324]

In [56]:
lst.sort()
lst

[1, 32, 35, 45, 266, 324, 356]

In [57]:
ls = [34,234,5612,23,53]

In [58]:
sorted(ls)

[23, 34, 53, 234, 5612]

In [59]:
ls

[34, 234, 5612, 23, 53]

In [60]:
gs = sorted(ls)
gs

[23, 34, 53, 234, 5612]

The sort() is mutable because it changes the original list. 
Whereas using the .sorted() function does not change the orginal list

In [61]:
lst.sort(reverse = True)
#Passing the reverse as true reverses the list when sort

In [62]:
lst

[356, 324, 266, 45, 35, 32, 1]

Combining Lists

•	Let list1 = [1, 2, 3] and list2 = [4, 5, 6].

•	Combine them into a single list and print.

•	Demonstrate two ways: using + and using .extend().

In [63]:
list1 = [1,2,3]
list2 = [4,5,6]

In [64]:
combined = list1 + list2
print(combined)

[1, 2, 3, 4, 5, 6]

In [65]:
list1

[1, 2, 3]

In [66]:
#Use of extend 
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [67]:
list1

[1, 2, 3, 4, 5, 6]

The only differences between using the "+" also termed as concatenation and use of .extend() is that the .extend() is mutable as it changes the original list as mentioned in the above code.

Aggregating List Values

•	Create a list of floats, e.g., [2.5, 3.6, 1.2, 5.0].

•	Print the sum, minimum, and maximum of that list using built-in functions.

In [68]:
list1 = [2.5,3.6,1.2,5.0]

In [69]:
print(sum(list1))

12.3

In [70]:
print(min(list1))

1.2

In [71]:
print(max(list1))

5.0

In [72]:
#Passing the sliced part as an input to the above functions

In [73]:
print(sum(list1[:2]))

6.1

In [74]:
print(min(list1[:2]))

2.5

In [75]:
print(max(list1[:2]))

3.6

The only thing you need to notice when using the sum(), min() and max() is that it takes the whole list as an input. You can even pass the slice of it for computing the above functions.

Tuple Creation

•	Create a tuple t = (10, 20, "Hello", True).

•	Print the tuple and confirm its type with type(t).

In [76]:
t = (10, 20, "Hello", True)

In [77]:
print("Tuple : ", t , "\nType", type(t))

Tuple :  (10, 20, 'Hello', True)
Type <class 'tuple'>

Tuple Indexing & Slicing

•	Print the first two elements of t using slicing.

•	Print the last element of t using negative indexing.

In [78]:
print(t[:2])

(10, 20)

In [79]:
print(t[-1])
#Can be even done using t[-1:]

True

Tuple Unpacking

•	Suppose t2 = ("Tom", 25, "Engineer").

•	Unpack it into three separate variables: name, age, profession.

•	Print these variables individually.

In [80]:
t2 = ("Tom", 25, "Engineer")

In [81]:
# Unpacking means assigning the values from a list or tuple to individual variables based on their position (index), where each variable receives the value at its respective index.
name, age, profession = t2
print("Name :", name)
print("Age :", age)
print("Profession :", profession)

Name : Tom
Age : 25
Profession : Engineer

Attempt Tuple Mutation

•	Try to change an element of t (t[0] = 999) and observe the error.

•	In comments, explain why the error occurs.

In [82]:
# t2[0] = 999
# t2
#We cannot change the elements in a tuple

Tuple are immutable and thats what seperates the list from a tuple. We cannot change the elements inside a tuple that means the element cant be added, changed or removed from the tuple.

Tuples are not about flexibility — they’re about predictability and structure.
In data science, that matters a lot when working with fixed data, function outputs, or performance-sensitive code.

Set Creation & Membership

•	Create a set my_set = {1, 3, 5, 7}.

•	Check if 5 is in my_set.

•	Check if 2 is not in my_set.

In [83]:
my_set = {1,3,5,7}

In [84]:
my_set.issuperset({5})
#The issuperset() checks where the given element passed as argument is avilable in the main set or not.

True

In [85]:
5 in my_set

True

In [86]:
not my_set.issuperset({2})

True

In [87]:
2 not in my_set

True

Add & Remove Elements

•	Add 9 to my_set.

•	Remove 3 from my_set.

•	Print the updated set.

In [88]:
my_set.add(9)

In [89]:
my_set.pop()
#Since sets are unordered pop doesnot accept the index and it removes one random element. 
#So, for removing an element we use .remove() or .discard() instead.

1

In [90]:
my_set

{3, 5, 7, 9}

In [91]:
my_set.remove(3)

In [92]:
print(my_set)

{5, 7, 9}

Set Operations

•	Create two sets: setA = {1, 2, 3} and setB = {3, 4, 5}.

•	Print the union, intersection, and difference (setA - setB).

In [93]:
setA = {1,2,3}
setB = {3,4,5}

Two ways for using the union between two sets

Union

In [94]:
print(setA.union(setB))

{1, 2, 3, 4, 5}

In [95]:
print(setA | setB)

{1, 2, 3, 4, 5}

Intersection

In [96]:
print(setA.intersection(setB))

{3}

In [97]:
print(setA & setB)

{3}

Difference

In [98]:
print(setA.difference(setB))

{1, 2}

In [99]:
print(setA - setB)

{1, 2}

Check Unique Values

•	Define a list vals = [1, 2, 2, 3, 3, 3, 4].

•	Convert it to a set.

•	Print both the list and the set to show how duplicates are removed.

In [100]:
vals = [1,2,2,3,3,3,4]

In [101]:
new_set = set(vals)

In [102]:
print("List", vals)
print("Set",new_set)

List [1, 2, 2, 3, 3, 3, 4]
Set {1, 2, 3, 4}

 Uses of Sets in Data Science:

• Remove duplicate values from data.

• Check if a specific value exists in a dataset (fast membership testing).

• Compare columns between two DataFrames (find common or different features).

• Identify missing required columns or fields.

• Extract unique words from text (useful in NLP tasks).

• Get unique categories or labels from a column (e.g., for classification).

• Filter data by comparing sets (e.g., valid vs. invalid values).

• Validate if all required features are present before modeling.

• Simplify lists or arrays to just unique elements using set().

Frozenset Creation

•	Create a frozenset from a list [2, 4, 4, 6].

•	Print it and observe whether duplicates are preserved.

In [103]:
lst = [2,4,4,6]

#Firstly the frozenset refer to the set that is immutable as the name frozen suggests. 

# Why use a frozenset?
# 	•	When you want a set that should never change
# 	•	Useful for fixed configurations, caching, or dictionary keys
# 	•	Helps ensure data integrity

#Caching is the process of storing data temporarily so that future requests for that data can be served faster.

my_frozenset = frozenset(lst)
print(my_frozenset)

#No the duplicates were not preserved
#Hashing is also supported by frozen set since its immutable that means the frozenset itself can be used as a key in dictionaries or an element inside another set.
#Hashing is a process that converts data (like a string, number, or file) into a fixed-size string or number called a hash value or hash code.

frozenset({2, 4, 6})

Immutability Demonstration

•	Attempt to add an element to your frozenset.

•	Observe and explain the error in comments.

In [104]:
# my_frozenset.add(4)
#We cant add

The frozenset is immutable meaning that it is unchangable once created. We cant apply any functions like add remove or an update.
#Its sole purpose is to protect the created data so modifying it makes no sense at all

Frozenset Use as a Dictionary Key

•	Create a dictionary where the key is your frozenset, e.g., my_dict = {frozenset([1,2,3]): "value"}.

•	Print my_dict and explain why a normal set cannot be used as a key.

In [105]:
my_dict = {frozenset([1,2,3]): "value"}
my_dict

{frozenset({1, 2, 3}): 'value'}

The only reason why the normal set cant be used a a key is because the normal set doesnot support hashing.

Why creating the frozenset as key is useful:

• Allows you to map from a group of things to a single value.

• Works for any scenario where a set of features, tags, or conditions needs to be used as a key.

• Maintains data integrity, since it can’t be changed after creation.

Dictionary Creation & Access

•	Create a dictionary student = {"name": "Ramesh", "age": 20, "grade": "A"}.

•	Print the value of "name" and "age" individually.

In [106]:
stu = {"name" : "Ramesh",
       "age" : 20,
       "grade" : "A"
       }

In [107]:
#Way to print a key
print(stu.keys())

dict_keys(['name', 'age', 'grade'])

In [108]:
#Way to print values
print(stu.values())

dict_values(['Ramesh', 20, 'A'])

In [109]:
#Printing indiviual values using keys
print(stu["name"])

Ramesh

In [110]:
print(stu["age"])

20

Adding & Updating Keys

•	Add a new key-value pair: "city": "Kathmandu" to student.

•	Update "age" to 21.

•	Print the dictionary.

In [111]:
#Adding a new key value pair to a dictionary by mentioning the key referencing the dictionary and assigning its value
stu["city"] = "Kathmandu"

In [112]:
#If the given key is not present it adds the value and if there is that key then it updates the existing one.
stu["age"] = 21

In [113]:
print(stu)

{'name': 'Ramesh', 'age': 21, 'grade': 'A', 'city': 'Kathmandu'}

Removing Keys

•	Remove the "grade" key from student.

•	Print the resulting dictionary.

In [114]:
stu.pop("grade")

'A'

In [115]:
print(stu)

{'name': 'Ramesh', 'age': 21, 'city': 'Kathmandu'}

Another way to delete a key is by using :
del stu[key] but it does not return a value like that of pop.

Why the returned value from the pop is useful?
• The returned value is your data — not just removing it, but knowing what you removed.

• Helps write cleaner and more efficient code by combining lookup and removal.

• Supports conditional logic depending on the removed value.

Nested Dictionary Example

•	Create a dictionary record = {"id": 101, "info": {"name": "Bob", "dept": "IT"}}.

•	Print the department of Bob.

In [116]:
record = {
    "id" : 101,
    "info" :
    {"name" : "Bob",
    "dept" : "IT"}
}

In [117]:
print("The department of Bob is " ,record["info"]["dept"])
#When accessing the nested dictionary just use the preceeding indexing of that dictionary for that specific index

The department of Bob is  IT

Operator Precedence

•	Define a = 4, b = 2, c = 5.

•	Print the result of a + b * c vs. (a + b) * c.

•	Explain in comments how the result differs.

In [118]:
a = 4
b = 2
c = 5

In [119]:
result1 = a + b * c
result2 = (a+b) * c
print("Result 1: ", result1)
print("Result 2:", result2)

#The main reason for the difference in the result is because of the priotization of operation within it hieraarchy where brackets for now are given the more priority over other addition and subtraction

Result 1:  14
Result 2: 30

Modulo & Floor Division

•	Let x = 17 and y = 4.

•	Print x % y and x // y.

•	Explain the difference between these two operators in comments.

In [120]:
x = 17
y = 4

In [121]:
print(x%y)
print(x//y)

#The difference between these two is that the modulo operator return the remainder and floor division gives us the quotient

1
4

Power Operator

•	Print the result of 2 ** 3.

•	Write a line to calculate 3 ** 4.

•	Print the addition of both.

In [122]:
result = 2 ** 3
print(result)

8

In [123]:
result2 = (3 ** 4)
print(result2)

81

In [124]:
add = result1 + result2
print(add)

95

String Comparison

•	Compare "apple" and "banana" with <, >, and ==.

•	Print the results.

In [125]:
string1 = "apple"
string2 = "banana"

print(string1 < string2)
print(string1 > string2)
print(string1 == string2)
# "==" this checks if two strings are exactly same.

# These comparisons are based on lexicographical (dictionary-like) order,
# not string length. 'a' comes before 'b', so "apple" < "banana".

True
False
False

Mixed Type Comparison

•	Compare 5 and 5.0 with ==.

•	Compare 5 and 5.0 with is.

•	Discuss the results in comment.

In [126]:
num1 = 5
num2 = 5.0
print(num1 == num2)

True

• Use == when you want to compare values.

• Use is only when you want to compare object identity (like checking if two variables point to the exact same object).

In [127]:
print(num1 is num2)

False

Chain Comparisons

•	Evaluate the expression 2 < 3 < 5.

•	Print the result and explain how Python handles chained comparisons.

In [128]:
print(2<3<5)

True

Python automatically chains the above expression like this (2 < 3) < (3 < 5).

Python allows you to chain comparisons without repeating the middle number.

Its cleaner and easier to read.

It’s faster than writing multiple conditions separately.

Logical and

•	Define p = True and q = False.

•	Print p and q.

•	Demonstrate a real-world example: (age > 18) and (has_ID == True).

In [129]:
p = True 
q = False

In [130]:
print("p : ", p, "\nq : ",q)

p :  True
q :  False

In [131]:
age = 20 
has_Id = False
legit = (age > 18) & (has_Id == True)
print ( "Legit", legit)

Legit False

Logical or

•	Using the same p and q, print p or q.

In [132]:
print(p | q)

True

Logical not

•	Let r = (10 > 5).

•	Print r, then print not r.

In [133]:
r = (10 > 5)

In [134]:
print(r)

print(not(r))

# We can't use "!" as not in python. We will need to use the "not" instead

True
False

Using len()

•	Create a list with 7 elements.

•	Use len() to get the total count.

•	Print the result.

In [135]:
lst = [1,2,3,4,5,6,7]

In [136]:
total_count = len(lst)

In [137]:
print(total_count)

7

Using type()

•	For each of the following: 10, 10.5, "ten", True, 3+2j, print type(...).

•	Summarize in comments the data types you observed.

In [138]:
lst = [10, 10.5, "ten", True, 3 + 3j]
print(type(lst[0]))
print(type(lst[1]))
print(type(lst[2]))
print(type(lst[3]))
print(type(lst[4]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

The data types that I observed are integer, float, string , boolean and Complex.

Using abs()

•	Print abs(10), abs(-10), and abs(-3.5).

•	Explain what abs() does in comments.

In [139]:
print(abs(-10))
print(abs(-3.5))
#The absolute make the given numbers a positive

10
3.5

Using round()

•	Demonstrate round(3.14159, 2).

•	Show how round(2.5) behaves in Python.

In [142]:
print(round(3.14158, 2))
#The syntax is round(number,digits)
# This rounds the number to 2 decimal places — the second argument specifies how many digits to keep after the decimal.

3.14

In [ ]:
print(round(2.5))
#By default the arguments for digit is 0, so this will return us an int.

2

Using sum(), max(), min()

•	Create a list of numeric values.

•	Print sum(), max(), and min() of that list.

In [143]:
lst = [1,2,3,4,5,6,7,8]

In [144]:
print(sum(lst))

36

In [145]:
print(max(lst))

8

In [146]:
print(min(lst))

1

Using sorted()

•	Create a list or tuple vals = (3, 1, 4, 2).

•	Use sorted(vals) and print the result.

•	Show that vals itself is unchanged.

In [147]:
vals = (3,1,4,2)

In [149]:
new_val = sorted(vals)
print(new_val)

[1, 2, 3, 4]

In [150]:
vals

(3, 1, 4, 2)

I have previously mentioned that the sorted doesnot change the original list or a tuple. So if we want it to be mutable we use sort instead.

Using any() / all()

•	Create a list of booleans, for example [True, False, True].

•	Print any() on the list, then all() on the list.

•	Show the difference in how they evaluate.

In [151]:
bool_list = [True, False, True]

In [154]:
print(any(bool_list))
#Returns true if any one of the element is true in the given list

True

In [155]:
print(all(bool_list))
#Retrins true only if all the element in the list is true

False

Storing Booleans from Comparisons

•	Compare two values in separate expressions, e.g., a = (10 > 3), b = (5 == 5).

•	Combine these booleans with and or or.

•	Print the final result.

In [156]:
a = (10 > 3)
b = (5 == 5)

In [157]:
print(a and b)
print(a | b)

True
True

Multiline String & Counting

•	Create a multiline string describing your favorite hobby.

•	Use the string method .count(substring) to count how many times the letter "a" appears (case-insensitive).

•	Print the count and explain any steps taken to handle case sensitivity.

In [158]:
multiline_string = "My favorite for now has been sitting infront of my laptop and learning data science."

In [ ]:
multiline_string.lower().count("a")

7

To handle case sensitivity when counting the repitition of a certain character i changed the whole multiline string to lowercase and then applied the count function

Advanced String Slicing

•	Take the string "ABCDEFGHIJ" and slice every second character, resulting in "ACEGI".

•	Print the sliced string.

•	Also slice in reverse step.

In [162]:
str = "ABCDEFGHIJ"
print(str[::2])

ACEGI

In [166]:
print(str[::-2])
#Here for the reversing the step is what guided it to start from the right and head towards left

JHFDB

Casefold vs. Lower

•	Create two strings, "Case" and "case".

•	Compare them with the regular == operator directly.

•	Compare them again after applying .casefold().

•	Print results and comment on how .casefold() differs from .lower() in edge cases.

In [167]:
str1 = "Case"
str2 = "case"

In [168]:
print(str1 == str2)

False

In [ ]:
print(str1.casefold() == str2.casefold())
#These doesnot omit the case sensitiveness but changes it to lowercase just like the .lower().count
#But the twist is that the casefold() handles the specific characters that the lower() misses.

True

Formatted Printing

•	Define name = "Ramesh", product = "Notebook", quantity = 2, and price = 12.50.

•	Use an f-string (or str.format()) to print:

"Ramesh purchased 2 Notebook for a total of $25.0."

In [173]:
name = "Ramesh"
product = "Notebook"
quantity = 2 
price = 12.50

In [174]:
print(f"{name} purchased {quantity} {product} for a total of ${price}.")

Ramesh purchased 2 Notebook for a total of $12.5.

In [178]:
print("{} purchased {} {} for a total of ${}.".format(name, quantity, product, price))

Ramesh purchased 2 Notebook for a total of $12.5.

Type Conversion Chain

•	Ask a user for a string that represents a number, e.g., "0".

•	Convert it to a float, then to a bool, and print the intermediate and final results.

In [181]:
input = input("Please enter a number :")
float_input = float(input)
print(float_input)

bool_input = bool(float_input)
print(bool_input)

2.0
True

String List Sorting

•	Given fruits = ["apple", "banana", "cherry"], sort them in descending alphabetical order.

•	Print the sorted list, then use the .reverse() method to flip it. Compare the two results.

In [190]:
fruits = ["apple", "banana", "cherry"]
fruits.sort(reverse=True)

In [191]:
print(fruits)

fruits.reverse()
print("Reversed: ", fruits)

['cherry', 'banana', 'apple']
Reversed:  ['apple', 'banana', 'cherry']

.sort(reverse=True)

• Sorts list in descending order by value.

• Changes the list in place.

• Use to get highest values first.



.reverse()

• Reverses the current order of the list.

• Changes the list in place.

• Use to flip the list without sorting.

Insert Using Slicing

•	Start with a list [2, 5, 7, 1, 9].

•	Insert the value 4 right after the 2 using slicing (not insert() or append()).

•	Print the modified list.

In [201]:
lst = [2,5,7,1,9]

In [202]:
lst = lst[:1] + [4] + lst[1:]
lst
# Here we have created the space for the 4 at the given index by slicing the list before and after it.

[2, 4, 5, 7, 1, 9]

Indexing Within a Mixed List

•	Create a list info = ["John", 28, True, 4500.75].

•	Print only "John" and 4500.75 using their indices.

In [203]:
info = ["John", 28, True, 4500.75]

In [205]:
print(info[0], info[-1])

John 4500.75

Tuple Concatenation & Replication

•	Create two tuples (1, 2) and (3, 4).

•	Concatenate them into (1, 2, 3, 4).

•	Replicate (1, 2) 3 times to get (1, 2, 1, 2, 1, 2).

In [206]:
t1 = (1,2)
t2 = (3,4)

In [207]:
combined = t1 + t2
print(combined)

(1, 2, 3, 4)

In [208]:
print(t1 * 3)

(1, 2, 1, 2, 1, 2)

Single-Element Tuple

•	Demonstrate that (42,) is a tuple whereas (42) is just an integer.

In [ ]:
t1 = (42,)
t2 = (42)
print("t1 :", t1 , "Type " , type(t1))
print("t2 :", t2 , "Type " , type(t2))

t1 : (42,) Type  <class 'tuple'>
t2 : 42 Type  <class 'int'>

Comma specifies the python that the given number inside the paranthesis is indeed a tuple not an integer.

Intersection & Union

•	Let setA = {1, 2, 3, 4} and setB = {1,2,3}.

•	Print their intersection using setA & setB.

•	Print their union using setA | setB.

In [210]:
setA = {1,2,3,4}
setB = {1,2,3}

In [211]:
print(setA & setB)

{1, 2, 3}

In [212]:
print(setA | setB)

{1, 2, 3, 4}

Subset and Superset

•	Check if setB is a subset of setA using setB.issubset(setA).

•	Check if setA is a superset of setB using setA.issuperset(setB).

•	Print the results.

In [213]:
print(setB.issubset(setA))

True

In [216]:
print(setA.issuperset(setB))
#This must be read as every element in setB is in setA

True

Countries and Capitals

•	Create a dictionary capitals = {"France": "Paris", "Germany": "Berlin", "Italy": "Rome"}.

•	Print just the keys, then just the values, then all key-value pairs.

In [217]:
capitals = {
    "France" :  "Paris",
    "Germany" : "Berlin",
    "Italy" : "Rome"
}

In [218]:
print(capitals.keys())

dict_keys(['France', 'Germany', 'Italy'])

In [219]:
print(capitals.values())

dict_values(['Paris', 'Berlin', 'Rome'])

In [220]:
print(capitals)

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}

Summing Dictionary Values

•	Create a dictionary numbers = {"x": 4, "y": 10, "z": 6}.

•	Use sum(numbers.values()) to sum all values.

•	Print the sum.

In [221]:
numbers = {
    "x" : 4,
    "y" : 10,
    "z" : 6
}

In [222]:
sum = sum(numbers.values())

In [223]:
print(sum)

20

The End