In Python, loops are used to repeat a block of code multiple times, making it easier to handle repetitive tasks.

For Loop

In [39]:
num = [1,0,4]
#Defining a list because it is iterable as we are working with a loop

In [40]:
for i in num:
    print(i)
#Example of a loop where we iterate each of the element in the loop
#Notice that it is printing each element and its not a list

1
0
4

In [41]:
l = [1,2,3,4,5,6,7,8]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [43]:
l1 = []
for i in l: 
    l1.append(i+1)

#This is different because here we can see that now we will not be getting single elements printed out because we are appending it to a list we created that is l1

In [44]:
l1
#New list after the append

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
l = ["hello" , "world", "kathmandu", "putalisadak"]
#Created a list of strings all in lowercase

In [46]:
l[0]
#Accessing the list using the index

'hello'

In [47]:
l[0].upper()
#Using the function upper() for changing it to UPPERCASE

'HELLO'

In [48]:
l[1].upper()

'WORLD'

In [49]:
l

['hello', 'world', 'kathmandu', 'putalisadak']

In [50]:
for i in l:
    print(i)

hello
world
kathmandu
putalisadak

In [51]:
for i in l:
    print(i.upper())
#Just printing out the uppercase of each elements in the list l as each elements are applied with the function upper() and its printing only the elements

HELLO
WORLD
KATHMANDU
PUTALISADAK

In [52]:
l

['hello', 'world', 'kathmandu', 'putalisadak']

In [53]:
l1 = []
for i in l:
    l1.append(i.upper())
#Creating an empty list and appending the Capitalized elements in that empty list one by one.
#This gives us the list instead of single elements one by one.

In [54]:
l1

['HELLO', 'WORLD', 'KATHMANDU', 'PUTALISADAK']

In [55]:
l = [1,2,3,4,5, 4.5, "hello", 4 + 2j]
#This is also a list but a heterongeneous list because it contains elements with different data types

In [56]:
type(l[1])
#using the type() function for printing out the type of second element of the list

int

In [57]:
type(l[-1])

complex

In [58]:
for i in l: 
    print(type(i))

#printing out the type of each of the elements of the list l

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [59]:
l

[1, 2, 3, 4, 5, 4.5, 'hello', (4+2j)]

In [60]:
integer = []
decimal = []
boolean = []
strings = []
complexes = []
for i in [1,2,3,4.55,'a',4-8j,True, False, True,'b','c',3+1j]:
    if type(i) == int:
        integer.append(i)
    elif type(i) == float:
        decimal.append(i)
    elif type(i) == bool:
        boolean.append(i)
    elif type(i) == str:
        strings.append(i)
    elif type(i) == complex:
        complexes.append(i)

In [61]:
print("Integer", integer)
print("Decimal", decimal)
print("Boolean", boolean)
print("Strings", strings)
print("Complexes", complexes)

Integer [1, 2, 3]
Decimal [4.55]
Boolean [True, False, True]
Strings ['a', 'b', 'c']
Complexes [(4-8j), (3+1j)]

In [62]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))

#Created a tuple and printed out the element and its type

1 <class 'int'>
2 <class 'int'>
3.45 <class 'float'>
ktm <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>

In [63]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))
    print(t)

#Output when printing the tuple inside the loop

1 <class 'int'>
(1, 2, 3.45, 'ktm', True, (5+3j))
2 <class 'int'>
(1, 2, 3.45, 'ktm', True, (5+3j))
3.45 <class 'float'>
(1, 2, 3.45, 'ktm', True, (5+3j))
ktm <class 'str'>
(1, 2, 3.45, 'ktm', True, (5+3j))
True <class 'bool'>
(1, 2, 3.45, 'ktm', True, (5+3j))
(5+3j) <class 'complex'>
(1, 2, 3.45, 'ktm', True, (5+3j))

In [64]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))
print(t)


#Output when printing the tuple outside the loop

1 <class 'int'>
2 <class 'int'>
3.45 <class 'float'>
ktm <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>
(1, 2, 3.45, 'ktm', True, (5+3j))

In [65]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print(k, "city")

ktm city
pkr city
bkt city
brt city

In [66]:
a = 4 
print("The value of varaible is a")

The value of varaible is a

In [67]:
#Use of the f string 
print(f"The value of variable is {a}")

The value of variable is 4

In [68]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print(f"{k} city")

ktm city
pkr city
bkt city
brt city

In [69]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print("{} city". format(k))
#Old version of string manipulation. Works similarly as f string manipulation

ktm city
pkr city
bkt city
brt city

In [70]:
l1

['ktm', 'pkr', 'bkt', 'brt']

In [71]:
for i in l1:
    if i == "pkr":
        break
    print(i)
#Applying a conditional statement for a loop so if the condition is satisfied the loop is stopped.

ktm

In [72]:
for i in l1:
    print(i)
    break
print('abcd')

ktm
abcd

In [73]:
for j in l1: 
    if j == "bkt":
        break
    print(j)
else:
    print("Execute this")

ktm
pkr

In [74]:
l1 = ["kathmandu", "bhaktapur", "lalitpur", "biratnagar"]

In [75]:
for i in l1:
    if i == "bhaktapur":
        continue
    print(i)

kathmandu
lalitpur
biratnagar

In [76]:
for i in l1:
    if i == "lalitpur":
        continue
    else:
        print("The loop is outside the if condition")

The loop is outside the if condition
The loop is outside the if condition
The loop is outside the if condition

Indentation is extremely important in Python because it’s how the language defines code blocks — such as those for loops, conditionals, functions, and classes. Unlike many other languages that use braces {} or keywords like end, Python uses whitespace (indentation) to mark the beginning and end of a block of code

The use of range() in bullet points:
	•	Generates a sequence of numbers (start, stop, step)
	•	Commonly used for looping a fixed number of times
	•	Efficient in memory (does not store all values)
	•	Used to iterate over indices in lists or arrays
	•	Supports forward and backward counting
	•	Handy for creating synthetic data
	•	Can be used in list comprehensions
	•	Useful in simulations and repetitive tasks
	•	Helps in looping without creating large lists manually
	•	Supports stepping to skip numbers in sequence

In [79]:
range(5)
#This is a generator function

range(0, 5)

In [ ]:
range(50)
#  The start is 0 by default if not passed and the step is always 1 by default.
#Generates data from 0 to 49

range(0, 50)

In [ ]:
tuple(range(20))
#Create a tuple of the given range.

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
list(range(10))
#Creates a list of data of the given range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(3,10))
#Creates a list of data of the given range with start and end as argument, the step is 1 as it is not passed for now

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(3,10,2))
#Similar to slicing start end and step are the arguments of range
#Step is added so the values will jump by 2

[3, 5, 7, 9]

In [ ]:
list(range(-20,-5,2))
#Use of negative indexing similar to that when using slicing. Works the same as slicing

[-20, -18, -16, -14, -12, -10, -8, -6]

In [ ]:
list(range(-20,-5,-2))
#Creates a conflict and return an empty list
#Since the negative step take the element from right to left. This will exceed the given start and end

[]

In [95]:
l1 = [1,2,3,4]

In [172]:
range(len(l1))
#range(len(l1)) lets you loop over a list by index.

range(0, 3)

In [99]:
list(range(len(l1)))

[0, 1, 2, 3]

In [100]:
for i in l1:
    print (i)

1
2
3
4

In [101]:
for i in range(len(l1)):
    print(l1[i])

1
2
3
4

In [102]:
l1 = ["kathmandu","bhaktapur","lalitpur","biratnagar"]

In [103]:
for i in range(len(l1)):
    print(l1[i])

kathmandu
bhaktapur
lalitpur
biratnagar

In [104]:
range(4,-3,-1)

range(4, -3, -1)

In [105]:
list(range(4,-3,-1))

[4, 3, 2, 1, 0, -1, -2]

In [106]:
list(range(6,-7,-1))

[6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6]

In [107]:
l1

['kathmandu', 'bhaktapur', 'lalitpur', 'biratnagar']

In [108]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [110]:
l1

['kathmandu', 'bhaktapur', 'lalitpur', 'biratnagar']

In [111]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

biratnagar
lalitpur
bhaktapur
kathmandu

In [113]:
l2 = [23,5,445,46,44,32,11,55,654,45,8]

In [114]:
len(l2)

11

In [116]:
range(0,len(l2),2)

range(0, 11, 2)

In [118]:
set(range(0,len(l2),2))

{0, 2, 4, 6, 8, 10}

In [120]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [122]:
l2

[23, 5, 445, 46, 44, 32, 11, 55, 654, 45, 8]

In [124]:
len(l2)

11

In [126]:
k = list(range(0,len(l2),2))
for i in k:
    print(i)

0
2
4
6
8
10

In [129]:
for i in list(range(0,len(l2),2)):
    print(l2[i])
print(k)

23
445
44
11
654
8
[0, 2, 4, 6, 8, 10]

In [131]:
l = [1,2,3,4,5,6,7,8,44,55,66,68,44,33,22,23,True,34.5]

In [132]:
sum(l)

426.5

In [135]:
l1 = [5,6,7]
sum(l1)

18

In [136]:
lst = ['a','b','c']
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [137]:
'a' + 'b' + 'c'

'abc'

In [138]:
t = (4,5)
sum(t)

9

In [140]:
set = {12,23,45}
sum(set)

80

In [142]:
l3 = [2,3,4]
sum(l3)

9

In [144]:
result = 0
#should be initialized with 0
for i in l3:
    result = result +i 
print(result)

9

In [146]:
for i in t:
    print (i)

4
5

In [148]:
result = 0
for i in t: 
    result = result + i
print(result)

9

In [150]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [152]:
for nepal in s:
    print(nepal)
#Can be read as for varaible in iterable

1
2
3
4
5

In [153]:
s1 = "bhaktapur"

In [156]:
for i in s1:
    print([i])

['b']
['h']
['a']
['k']
['t']
['a']
['p']
['u']
['r']

In [159]:
d = {
    "name" : "john",
    "class" :"data analysis and science",
    "topic" : ["python","numpy","pandas","sql","da","ml"]
}

In [162]:
d["name"]

'john'

In [164]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [166]:
d

{'name': 'john',
 'class': 'data analysis and science',
 'topic': ['python', 'numpy', 'pandas', 'sql', 'da', 'ml']}

In [ ]:
for i in d.keys():
    print(d[i])

john
data analysis and science
['python', 'numpy', 'pandas', 'sql', 'da', 'ml']

While loop

While loop is used when we need to run specific block of code until a condition is met

There is always a problem of infinite loop in while loop

In [169]:
a = 1 
while a <= 10:
    print(a)
    a = a + 1

#when <= use '+'
#when >= use '-'

1
2
3
4
5
6
7
8
9
10

In [170]:
#sum of number till some point
n = int(input("Please enter your number: "))
sum = 0 
counter = 1 

while counter <= n:
    sum = sum + counter
    counter = counter + 1
print("The total sum is: ", sum)

The total sum is:  10

In [ ]:
# number = int(input("Enter a number which is positive : "))
# factorial =