PYTHON DATA STRUCTURES ASSIGNMENT

Section 1 : Lists

1. Create a List:
Create a list containing the numbers 1 through 15. Print the list.

In [100]:
l1 = [1,2,3,4,5,6,7,8,8,10,11,12,13,14,15]

In [101]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 8, 10, 11, 12, 13, 14, 15]

2. List of Strings:
Create a list of your five favorite fruits. Print the list.

In [102]:
l2 = ["hello","world","mindrisers"]

In [103]:
l2

['hello', 'world', 'mindrisers']

3. Accessing Elements:
Given the list [10, 20, 30, 40, 50], print the first and last element using positive and negative indexing.

In [104]:
l3 = [10,20,30,40,50]

In [105]:
l3[0:5]
#This is called slicing and for the arguments the first one is inclusive which is start and the second one is exclusive which is stop. The third argument is step.

[10, 20, 30, 40, 50]

In [106]:
l3[-5:]
#This is slicing using negaiive indexing here if i pass the stop as 0 since it is exclusive it will return me empty list. So, we pass nothing and that mean everything after that.

[10, 20, 30, 40, 50]

4. List Length:
Create a list of any 5 items and print its length using the len() function.

In [107]:
l1 = ["hello", 1 , 3.5, True]

In [108]:
print(len(l1))

4

5. Appending Elements:
Start with an empty list and append the numbers 1, 2, and 3. Print the list.

In [109]:
lst = []

In [110]:
lst.append(1)

In [111]:
lst.append(2)

In [112]:
lst.append(3)

In [113]:
lst

[1, 2, 3]

You can clear the list by applying lst.clear() function. For removing specific elements use lst.remove(index)

6. Inserting an Element:
Given a list [1, 3, 4], insert the number 2 at the correct position so that the list becomes [1, 2, 3, 4].

In [114]:
lst1 = [1,3,4]

In [115]:
#The syntax for insert is lst.insert(index,element)
#When inserting element at a specific index we use insert because append always inserts at the last index
lst1.insert(1,2)

In [116]:
lst1

[1, 2, 3, 4]

7. Removing an Element:
Remove the number 3 from the list [1, 2, 3, 4, 5] using a list method and print the new list.

In [117]:
lst = [1,2,3,4,5]

In [118]:
lst.pop(2)

3

In [119]:
lst

[1, 2, 4, 5]

Other ways to remove the elements is use of del lst[index]
	•	Deletes the element at the given index.
	•	Does not return the removed item.

lst.pop(index)
	•	Removes and returns the element at the specified index.
	•	If no index is provided, it removes and returns the last item.

8. Popping an Element:
Given the list [10, 20, 30, 40], pop the last element and print the element and the updated list.

In [120]:
lst = [10,20,30,40,50]

In [121]:
lst.pop(-1)
#No need to print the element being popped it gives out the element by default

50

In [122]:
lst

[10, 20, 30, 40]

9. Slicing a List:
Given the list [0, 1, 2, 3, 4, 5], print a slice that contains the elements from index 2 to 4.

In [123]:
lst = [0,1,2,3,4,5]

In [124]:
lst[2:5]

[2, 3, 4]

10. List Concatenation:
Concatenate two lists, e.g., [1, 2, 3] and [4, 5, 6], and print the resulting list.

In [125]:
lst1 = [1,2,3]
lst2 = [4,5,6]

In [126]:
combined = lst1 + lst2
print(combined)

[1, 2, 3, 4, 5, 6]

11.	Repeating a List:
Create a list [1, 2] and print the list repeated three times.

In [127]:
lst = [1,2]

In [128]:
new_lst = lst * 3
print(new_lst)
#Muplyinh a list by scalar simply repeats it

[1, 2, 1, 2, 1, 2]

12.	Copying a List:
Create a copy of a given list and print both the original and the copy.

In [129]:
lst_copy = lst.copy()

In [130]:
print("Original:", lst)
print("Copy:", lst_copy)

Original: [1, 2]
Copy: [1, 2]

13.	Clearing a List:
Given any list, use a method to clear all its elements and then print the empty list.

In [131]:
lst = [1,2,3.5,"Hello",False]

In [132]:
lst.clear()

In [133]:
lst

[]

Section 2: Tuples

1.	Create a Tuple:
Create a tuple containing the numbers 1, 2, and 3. Print the tuple.

In [134]:
t = (1,2,3)
print(t)

(1, 2, 3)

2.	Tuple of Strings:
Create a tuple of three different color names and print it.

In [135]:
t_string = ("hello", "mindrisers", "python")
print(t_string)

#In interactive environments like python REPL or Jupyter Notebooks, typing the varaibles return the values. But in a regular python script we will have to use the print() function.

('hello', 'mindrisers', 'python')

3.	Accessing Tuple Elements:
Given the tuple (10, 20, 30, 40), print the second element.

In [136]:
t = (10,20,30,40,50)

In [137]:
print(t[1])

20

4.	Tuple Slicing:
Using the tuple (0, 1, 2, 3, 4), print a slice that contains elements from index 1 to 3.

In [138]:
t = (0,1,2,3,4)

In [139]:
print(t[1:4])

(1, 2, 3)

5.	Concatenating Tuples:
Concatenate two tuples, e.g., (1, 2) and (3, 4), and print the result.

In [140]:
t1 = (1,2)
t2 = (3,4)
combined = t1 + t2 
print(combined)

(1, 2, 3, 4)

6.	Tuple Unpacking:
Store the tuple ("Alice", 25, "New York") into three variables and print them.

In [141]:
t = ("Alice", 25, "New York")
name , age, city = t

In [142]:
print("Name: ", name)
print("Age: ", age)
print("city: ", city)

Name:  Alice
Age:  25
city:  New York

Note : Tuple unpacking is not limited to tuples only — it works with any iterable, including lists, strings, sets (with care), etc.

Why it’s useful:

• Readable code: Cleaner and faster than indexing each element.

• Multiple returns: Often used with functions that return multiple values.

• Swapping values: Like a, b = b, a to swap variables.

• Looping: E.g., for key, value in dict.items():

7.	Convert List to Tuple:
Convert the list [1, 2, 3, 4] into a tuple and print the tuple.

In [143]:
lst = [1,2,3,4]
t = tuple(lst)
print(t)
#use the tuple function for converting the list to tuple

(1, 2, 3, 4)

8.	Counting Occurrences:
Given the tuple (1, 2, 2, 3, 2), count how many times the number 2 appears.

In [144]:
t1 = (1,2,2,3,2)
count_2 = t1.count(2)
count_2
#count function counts the occurances of the elements in List, tuple and string. Its not available for set and dictionary

3

9.	Finding an Index:
In the tuple (10, 20, 30, 40), find the index of the element 30 and print it.

In [145]:
t1 = (10,20,30,40)
index_30 = t1.index(30)
print(index_30)

2

Its available for list, tuple and strings but is limited to set and dictionary.

Sets don’t have .count() and .index() because they are unordered collections—their elements have no fixed position, so indexing doesn’t make sense.

Dictionaries don’t have .count() and .index() because they are key-value mappings, accessed by keys rather than positions, so there’s no concept of an index for their items.