## Dictionary

- Collection of items stored in key-value pairs. It is like real dictionary where each word(key) has a meaning(value).

In [2]:
d = {}
# Initializing an empty dictionary.
# It must be closed under curly braces.

In [3]:
type(d)

dict

In [4]:
d1 = {
    'key':'value'
    }

# Dictionary is just a collection of key value pair mimicing a real dictionary maping words to their meanings

In [5]:
d1

{'key': 'value'}

In [6]:
type(d1)

dict

In [7]:
d2 = {
   'name' : 'ram',
   'address' : 'kathmandu',
   'email' : 'ram@gmail.com',
   'phone_number' : 9742843465
}

# In a dictionary, the values can be of different data types (string, int, list, tuples , dictionaries etc.)
# as long as they are associated with a unique key in a key-value pair.

In [8]:
type(d2)

dict

In [9]:
d2

{'name': 'ram',
 'address': 'kathmandu',
 'email': 'ram@gmail.com',
 'phone_number': 9742843465}

In [10]:
d3 = {
    234 : 'rajesh',
    True : 23432,
    (1,2,3) : 'nepal',
    False : 123
}

Keys in a Dictionary

• Keys must be immutable data types like string, int, float, tuple (if all elements inside are immutable).

• Mutable types like list, dict, or set cannot be used as keys because they can change, which would break the dictionary’s hashing mechanism.

Immutabe means unchangable

In [11]:
d3

{234: 'rajesh', True: 23432, (1, 2, 3): 'nepal', False: 123}

We can simply access values using keys.

In [12]:
d3[234]

'rajesh'

In [13]:
d3[True]

23432

In [14]:
d3[(1,2,3)]

'nepal'

In [15]:
d3[1]

23432

In [16]:
d3[0]

123

In [17]:
# d3[2]
#Since the key 2 doesnot exist it throws key error.

In [18]:
eleven = {
    'ramesh' : 1,
    'rajesh' : 2,
    'ram' : 3,
    'shyam' : 4
}

In [19]:
eleven['ramesh']

1

In [20]:
eleven['rajesh']

2

In [21]:
eleven['ram']

3

In [22]:
eleven['shyam']

4

In [23]:
d4 = {
    'name' : 'rajesh',
    'email' : 'rajesh@gmail.com',
    'name' : 'ram'
} # key must be unique

In [24]:
d4['name']

'ram'

# Note : If the keys are inside the quote we must use the quotes when accessing values with the keys

In [25]:
d5 = {
    'institute' : 'mindrisers',
    'course' : ['mern','python with django','dads']
}

# As we said earlier we can store any dtypes in the values and here we have stoerd a list

In [26]:
d5

{'institute': 'mindrisers', 'course': ['mern', 'python with django', 'dads']}

# Accessing different values 

When we try to access the values we first pass the keys and then for the required values we can apply indexing after converting the values into list and we can perform slicing as we did earlier

In [27]:
d5['course']

['mern', 'python with django', 'dads']

In [28]:
d5['course'][-1]

'dads'

In [29]:
d5['course'][1]

'python with django'

In [30]:
d5['course'][::-1]

['dads', 'python with django', 'mern']

In [31]:
d5['course'][2::1]

['dads']

In [32]:
d5['course'][2::-1]

['dads', 'python with django', 'mern']

In [33]:
d6 = {
    'course' : ['mern','django','da/ds'],
    'task' : (1,2,3,4,5,6),
    'launch_date' : {1,2,3},
    'class_timing' : {
        'mern' : 5,
        'django' : 6,
        'da/ds' : 7
    }
}

In [34]:
d6['class_timing']

{'mern': 5, 'django': 6, 'da/ds': 7}

In [35]:
# Ways to access a nested dictionary
d6['class_timing']['da/ds']

7

In [37]:
d6['duration']
#When a key that is not present is accessed, it returns KeyError

KeyError: 'duration'

In [38]:
d6

{'course': ['mern', 'django', 'da/ds'],
 'task': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 2, 3},
 'class_timing': {'mern': 5, 'django': 6, 'da/ds': 7}}

In [39]:
d6['duration'] = [3,2,3.5]

In [40]:
d6

{'course': ['mern', 'django', 'da/ds'],
 'task': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 2, 3},
 'class_timing': {'mern': 5, 'django': 6, 'da/ds': 7},
 'duration': [3, 2, 3.5]}

In [41]:
#way to delete a key
del d6['duration']

In [42]:
d6

{'course': ['mern', 'django', 'da/ds'],
 'task': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 2, 3},
 'class_timing': {'mern': 5, 'django': 6, 'da/ds': 7}}

In [43]:
student = {
    'name' : 'Manoj',
    'subject' : 'CS',
    'marks' : 90
}

print(student)

# delete the dictionary
del student

# Since the dictionary is already deleted, it throws name error
print(student)

{'name': 'Manoj', 'subject': 'CS', 'marks': 90}

NameError: name 'student' is not defined

In [44]:
d6

{'course': ['mern', 'django', 'da/ds'],
 'task': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 2, 3},
 'class_timing': {'mern': 5, 'django': 6, 'da/ds': 7}}

In [46]:
d6.keys()
# Way to show keys in a dictionary

dict_keys(['course', 'task', 'launch_date', 'class_timing'])

In [47]:
list(d6.keys())
#Changing the given keys to a list

['course', 'task', 'launch_date', 'class_timing']

In [49]:
set(d6.keys())
# Changing the given keys to a set

{'class_timing', 'course', 'launch_date', 'task'}

In [51]:
d6.values()
#Showing the values in a dictionary

dict_values([['mern', 'django', 'da/ds'], (1, 2, 3, 4, 5, 6), {1, 2, 3}, {'mern': 5, 'django': 6, 'da/ds': 7}])

In [53]:
list(d6.values())
#Converting the values into a list

[['mern', 'django', 'da/ds'],
 (1, 2, 3, 4, 5, 6),
 {1, 2, 3},
 {'mern': 5, 'django': 6, 'da/ds': 7}]

In [55]:
tuple(d6.values())
#Converting the values into a tuple

(['mern', 'django', 'da/ds'],
 (1, 2, 3, 4, 5, 6),
 {1, 2, 3},
 {'mern': 5, 'django': 6, 'da/ds': 7})

In [57]:
d6.items()

# This returns a specific object as dict_items
# Each key value pair are represented in a tuple

dict_items([('course', ['mern', 'django', 'da/ds']), ('task', (1, 2, 3, 4, 5, 6)), ('launch_date', {1, 2, 3}), ('class_timing', {'mern': 5, 'django': 6, 'da/ds': 7})])

In [ ]:
list(d6.items())
# Converting the returned dict_items into list for readability

[('course', ['mern', 'django', 'da/ds']),
 ('task', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {1, 2, 3}),
 ('class_timing', {'mern': 5, 'django': 6, 'da/ds': 7})]

In [59]:
d6.pop('task')

(1, 2, 3, 4, 5, 6)

In [60]:
d6

{'course': ['mern', 'django', 'da/ds'],
 'launch_date': {1, 2, 3},
 'class_timing': {'mern': 5, 'django': 6, 'da/ds': 7}}

In [61]:
numbers = {
    10 : 'ten',
    20 : 'twenty',
    30 : 'thirty',
    100 : 'hundred'
}

In [63]:
# Shows the length as total number of key value pairs 
length = len(numbers)
print(length)

4

In [64]:
print(len(numbers))

4

In [65]:
empty = {}
print(len(empty))

0

In [66]:
student = {
    'name' : 'Rajesh',
    'subject' : 'It',
    'age' : 18
}

In [ ]:
student['name'] = 'Sagar'
student['age'] = 25
student['subject'] = 'Engineering'
print(student)

# We can simply reassign the values by using their respective keys

{'name': 'Sagar', 'subject': 'Engineering', 'age': 25}

# Dictionary keys are immutable data types (like strings, integers, or tuples), meaning you cannot modify a key directly.
	

# However, you can change the value associated with a key or even add new key-value pairs.
	
# If you want to “change” a key, you must delete the old key and add a new one.

In [68]:
square = {
    1 : 1,
    2 : 4,
    3 : 9,
    4 : 16,
    5 : 25
}

print(9 in square)
print(3 in square)
print(4 in square)
print(16 in square)

# Checking if the given value is in the dictionary or not. This returns us the boolean either True or False

False
True
True
False

In [69]:
subject = {
    'Physics' : 83,
    'Chemistry' : 77
}

In [71]:
# Printing the respective values using the key
print(subject['Physics'])
print(subject['Chemistry'])

83
77

In [72]:
# Will definitely throw Key Error if the Key is not there in the dictionary.
print(subject['Physics'])
print(subject['Mathematics'])

83

KeyError: 'Mathematics'

In [ ]:
# Another way to access the value using the get function
print(subject.get('Physics'))

83

In [74]:
# This is the magic of the get function when tryign to access the value using the key that is not present.
print(subject.get('Mathematics'))

None

In [76]:
# .clear() method removes the key value pair in the dictionary but not the dictionary itself. If you want to remove the dictionary then better use del key instead
scores = {'Physics':88,'Mathematics':99}
scores.clear()
print(scores)

{}