In Python, loops are used to repeat a block of code multiple times, making it easier to handle repetitive tasks.

In [ ]:
num = [1,0,4]
#Defining a list because it is iterable as we are working with a loop

In [ ]:
for i in num:
    print(i)
#Example of a loop where we iterate each of the element in the loop
#Notice that it is printing each element and its not a list

1
0
4

In [5]:
l = [1,2,3,4,5,6,7,8]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [ ]:
l1 = []
for i in l: 
    l1.append(i+1)

#This is different because here we can see that now we will not be getting single elements printed out because we are appending it to a list we created that is l1

In [ ]:
l1
#New list after the append

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = ["hello" , "world", "kathmandu", "putalisadak"]
#Created a list of strings all in lowercase

In [ ]:
l[0]
#Accessing the list using the index

'hello'

In [ ]:
l[0].upper()
#Using the function upper() for changing it to UPPERCASE

'HELLO'

In [12]:
l[1].upper()

'WORLD'

In [13]:
l

['hello', 'world', 'kathmandu', 'putalisadak']

In [14]:
for i in l:
    print(i)

hello
world
kathmandu
putalisadak

In [ ]:
for i in l:
    print(i.upper())
#Just printing out the uppercase of each elements in the list l as each elements are applied with the function upper() and its printing only the elements

HELLO
WORLD
KATHMANDU
PUTALISADAK

In [16]:
l

['hello', 'world', 'kathmandu', 'putalisadak']

In [ ]:
l1 = []
for i in l:
    l1.append(i.upper())
#Creating an empty list and appending the Capitalized elements in that empty list one by one.
#This gives us the list instead of single elements one by one.

In [18]:
l1

['HELLO', 'WORLD', 'KATHMANDU', 'PUTALISADAK']

In [ ]:
l = [1,2,3,4,5, 4.5, "hello", 4 + 2j]
#This is also a list but a heterongeneous list because it contains elements with different data types

In [ ]:
type(l[1])
#using the type() function for printing out the type of second element of the list

int

In [21]:
type(l[-1])

complex

In [22]:
for i in l: 
    print(type(i))

#printing out the type of each of the elements of the list l

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [23]:
l

[1, 2, 3, 4, 5, 4.5, 'hello', (4+2j)]

In [24]:
integer = []
decimal = []
boolean = []
strings = []
complexes = []
for i in [1,2,3,4.55,'a',4-8j,True, False, True,'b','c',3+1j]:
    if type(i) == int:
        integer.append(i)
    elif type(i) == float:
        decimal.append(i)
    elif type(i) == bool:
        boolean.append(i)
    elif type(i) == str:
        strings.append(i)
    elif type(i) == complex:
        complexes.append(i)

In [25]:
print("Integer", integer)
print("Decimal", decimal)
print("Boolean", boolean)
print("Strings", strings)
print("Complexes", complexes)

Integer [1, 2, 3]
Decimal [4.55]
Boolean [True, False, True]
Strings ['a', 'b', 'c']
Complexes [(4-8j), (3+1j)]

In [26]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))

#Created a tuple and printed out the element and its type

1 <class 'int'>
2 <class 'int'>
3.45 <class 'float'>
ktm <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>

In [27]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))
    print(t)

#Output when printing the tuple inside the loop

1 <class 'int'>
(1, 2, 3.45, 'ktm', True, (5+3j))
2 <class 'int'>
(1, 2, 3.45, 'ktm', True, (5+3j))
3.45 <class 'float'>
(1, 2, 3.45, 'ktm', True, (5+3j))
ktm <class 'str'>
(1, 2, 3.45, 'ktm', True, (5+3j))
True <class 'bool'>
(1, 2, 3.45, 'ktm', True, (5+3j))
(5+3j) <class 'complex'>
(1, 2, 3.45, 'ktm', True, (5+3j))

In [28]:
t = (1,2,3.45,'ktm',True,(5+3j))
for i in t:
    print(i,type(i))
print(t)


#Output when printing the tuple outside the loop

1 <class 'int'>
2 <class 'int'>
3.45 <class 'float'>
ktm <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>
(1, 2, 3.45, 'ktm', True, (5+3j))

In [29]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print(k, "city")

ktm city
pkr city
bkt city
brt city

In [30]:
a = 4 
print("The value of varaible is a")

The value of varaible is a

In [31]:
#Use of the f string 
print(f"The value of variable is {a}")

The value of variable is 4

In [32]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print(f"{k} city")

ktm city
pkr city
bkt city
brt city

In [33]:
l1 = ["ktm","pkr","bkt","brt"]
for k in l1:
    print("{} city". format(k))
#Old version of string manipulation. Works similarly as f string manipulation

ktm city
pkr city
bkt city
brt city

In [34]:
l1

['ktm', 'pkr', 'bkt', 'brt']

In [36]:
for i in l1:
    if i == "pkr":
        break
    print(i)
#Applying a conditional statement for a loop so if the condition is satisfied the loop is stopped.

ktm

In [37]:
for i in l1:
    print(i)
    break
print('abcd')

ktm
abcd

In [47]:
for j in l1: 
    if j == "bkt":
        break
    print(j)
else:
    print("Execute this")

kathmandu
bhaktapur
lalitpur
biratnagar
Execute this

In [42]:
l1 = ["kathmandu", "bhaktapur", "lalitpur", "biratnagar"]

In [43]:
for i in l1:
    if i == "bhaktapur":
        continue
    print(i)

kathmandu
lalitpur
biratnagar

In [44]:
for i in l1:
    if i == "lalitpur":
        continue
    else:
        print("The loop is outside the if condition")

The loop is outside the if condition
The loop is outside the if condition
The loop is outside the if condition

Indentation is extremely important in Python because it’s how the language defines code blocks — such as those for loops, conditionals, functions, and classes. Unlike many other languages that use braces {} or keywords like end, Python uses whitespace (indentation) to mark the beginning and end of a block of code