## TUPLE

- List is mutable and Tuple is immutable.
- List is a group of elements enclosed inside [] whereas Tuple is a group of elements enclosed inside ().

- Tuple in Python is like a list, but we cannot change its items once it is created.
- Tuple is written using round brackets (), with items separated by commas, like this: my_tuple = (1, 2, "banana", 4).
- They are useful when we want to store a group of items that should stay the same and not be modified.

In [ ]:
t1 = (1,2.33,True,4-7J,'nepal',[1,2,3],(4,5,6))

#Tuple can contain differnt datatypes within itself but we cannot make any changes to the element inside a tuple

## 	But, if a tuple contains a mutable element (like a list), the content of that mutable element can be modified.

In [3]:
t1

(1, 2.33, True, (4-7j), 'nepal', [1, 2, 3], (4, 5, 6))

In [4]:
type(t1)

tuple

In [6]:
# The elements inside a tuple can be accessed using the index
t1[0]

1

In [7]:
t1

(1, 2.33, True, (4-7j), 'nepal', [1, 2, 3], (4, 5, 6))

In [8]:
t1[5]

[1, 2, 3]

In [10]:
[1,2,3][1]

# Accessing the element inside the list that is inside the tuple

2

In [11]:
t1[5][1]

2

In [13]:
t1[7]

# Like other if we pass the index that is out of range in the tuple, it will return IndexError as well

IndexError: tuple index out of range

In [14]:
len(t1)

7

In [15]:
t1[6]

(4, 5, 6)

In [17]:
t1[6][2]

# Accessing the element inside a list that is inside the tuple

6

In [18]:
t1[-1]
# Use of negative indexing to access the desired element

(4, 5, 6)

In [19]:
t1[-5]

True

In [ ]:
t1[::-1]

# Reversing using the slicing technique that is reversing the tuple by passing the negative step

((4, 5, 6), [1, 2, 3], 'nepal', (4-7j), True, 2.33, 1)

In [20]:
t1
# Still the tuple is not being changed that is why its immutable

(1, 2.33, True, (4-7j), 'nepal', [1, 2, 3], (4, 5, 6))

In [22]:
t1[2:7:-2]
# This returns an empty tuple because the step is negative (-2), which means 
# Python tries to move from right to left, but the start (index 2) is on the left 
# and the end (index 7) is on the right, making the slice direction invalid.

()

In [23]:
t1[2:7:2]

(True, 'nepal', (4, 5, 6))

In [24]:
t1[7:2:1]
#The step want to move from left to right
# The start is greater than stop so cant move from left to right and hence this will return empty tuple

()

In [25]:
t1[2::2]
# Slicing the elements from start 2 to end 2 and by default the step is 1

(True, 'nepal', (4, 5, 6))

In [26]:
t1[6:4:-1]

((4, 5, 6), [1, 2, 3])

In [27]:
t1[-1:-7:-1]

((4, 5, 6), [1, 2, 3], 'nepal', (4-7j), True, 2.33)

In [28]:
t1[-4:-8:1]

()

# Functions in Tuple

count function

In [29]:
t1

(1, 2.33, True, (4-7j), 'nepal', [1, 2, 3], (4, 5, 6))

In [31]:
t1.count(1)
# Counts the total number of repititon of the passed number

2

In [32]:
t1.count(0)

0

In [33]:
t = (1,1,1,2,3,4,5,5,5)

In [34]:
t.count(1)

3

In [35]:
t.count(5)

3

In [36]:
t.count(2)

1

In [37]:
t.count(3)

1

In [38]:
t.count(4)

1

index function

In [39]:
t1

(1, 2.33, True, (4-7j), 'nepal', [1, 2, 3], (4, 5, 6))

Index function simply returns the index of the passed element in the tuple.

In [43]:
t1.index(True)
# Since 1 refers to True it has returned the index of 1 instead of True

0

In [44]:
t1.index('nepal')

4

In [45]:
t1.index([1,2,3])

5

In [47]:
t1.index(0)
# This returns the Value Error because the wrong value is being passed which is 0.

ValueError: tuple.index(x): x not in tuple

In [49]:
l1 = [1,2,3]
l2 = [1,2,3]

l1 is l2

# This is false because it is not comparing the list it is comparing the memory address

False

In [50]:
# string interning

s1 = "hello"
s2 = "hello"

s1 is s2

# But the case is different here , its only because python reuses the memory address when storing small strings and integers

True

In [51]:
a = 4
b = 5
a is b

False