## SET

- Set in Python is a collection of items where each item is unique, meaning no duplicates are allowed.
- Set is written using curly braces {} containing at least one element, like this: my_set = {1, 2, 3, "apple"}.
- The items in a set are unordered, so they don’t have a specific position, and we can’t access them using an index like in a list.

- We can do indexing and slicing in list and tuple but we can't do indexing and slicing in set.
- Duplicate data are allowed in list and tuple but not in set.

In [3]:
s1 = {}

# Set is also bounded by curly braces as well but it wont have a key value pair and thats what it seperates out from a dictionary. Sets only contain unique values

In [4]:
type(s1)

# If we look at the type of the s1, it says dictionary

dict

In [5]:
l1 = []
type(l1)
# Lists are bounded by [ ]

list

In [6]:
t1 = ()
type(t1)

# Tuples are bounded by paranthesis

tuple

In [7]:
s = set()
type(s)

set

In [8]:
s = {1,2,3,4,1,1,1,2,2,3,3,4,2,1,4,4,3}

In [ ]:
s

{1, 2, 3, 4}

The elements in the set should not be mutable because sets are implemented as hash tables.

In [10]:
s = {1,2.33,True,8+2j,'hello',[1,2,3],(4,5),{4,7,8}}

# lists are mutable, so [1,2,3] cannot be an element of a set.
# Sets cannot contain other sets (like {4,7,8}) either, because sets themselves are mutable.
# The error occurs due to both the list and the nested set being unhashable.

TypeError: unhashable type: 'list'

Why This Fails:

• Lists ([1, 2, 3]) and sets ({4, 7, 8}) are mutable, meaning their contents can change.

• Sets require all elements to be immutable (hashable) for fast lookup using hash tables.

• Immutable elements like 1, 2.33, True, 8+2j, 'hello', and (4, 5) are fine.

• But list and set cause TypeError: unhashable type.

In [ ]:
s = {1,2,3,{4,5}}

# Set cannot contain another set

TypeError: unhashable type: 'set'

# The important thing is that set itself is mutable but the element inside it must be immutable

In [11]:
s4 = {1,2,2,2,3,3,3,1,1,1,4,3,3,4,4,2,1,4,4,3}

In [13]:
s4

# The elements in the set must be unique cant have repeated elements

{1, 2, 3, 4}

In [15]:
list(s4)
#Changing sets into list

[1, 2, 3, 4]

In [18]:
set(list(s4))

{1, 2, 3, 4}

In [19]:
l6 = [2, 3, 4, 5, 6, 2, 2, 3, 2, 1, 'nepal']
l6

[2, 3, 4, 5, 6, 2, 2, 3, 2, 1, 'nepal']

In [20]:
l6 = set(l6)

In [21]:
l6

#When converted to set the repeated elemenmts are made one and only unique elements are left out

{1, 2, 3, 4, 5, 6, 'nepal'}

In [24]:
l6 = list(l6)
# When further changed to list its previous value are not retained

In [25]:
l6

[1, 2, 3, 4, 5, 6, 'nepal']

In [26]:
l6 = [1,2,3,2,1,2,3,4,5,4,5,5,6,7,6,6,8,8,9,8,9,0,9,0]

In [27]:
l6

[1, 2, 3, 2, 1, 2, 3, 4, 5, 4, 5, 5, 6, 7, 6, 6, 8, 8, 9, 8, 9, 0, 9, 0]

In [28]:
set(l6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
l6 = list(set(l6))

In [30]:
l6

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [1,2.4,True,3-4J,'string',[1,2,3],(4,5,6),{7,8,9}]
l

# Heterogeneous List

[1, 2.4, True, (3-4j), 'string', [1, 2, 3], (4, 5, 6), {7, 8, 9}]

In [33]:
t = (1,2.4,True,3-4J,'string',[1,2,3],(4,5,6),{7,8,9})
t

# The tuple is immutable that is it cannot be changed after the creation

(1, 2.4, True, (3-4j), 'string', [1, 2, 3], (4, 5, 6), {7, 8, 9})

In [34]:
set_1 = {[4,5,6], 1, 2} # set accepts only immutable element

TypeError: unhashable type: 'list'

In [35]:
s5 = {234, 45, 23, 12, 567, 45, 2, '123', 456.45, 342, (1,2,3)}

In [36]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 45, 456.45, 567}

In [38]:
s5[0]

TypeError: 'set' object is not subscriptable

In [39]:
s5[2:5:2]
# Neither the slicing is possible for the Set

TypeError: 'set' object is not subscriptable

In [40]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 45, 456.45, 567}

In [41]:
s = {6,7,1,2,100,98}

In [42]:
s

{1, 2, 6, 7, 98, 100}

In [43]:
a = 5
b = 4
c = 3
print(a,b,c)

5 4 3

In [44]:
a,b,c = 5,4,3
print(b,c,a)

4 3 5

In [45]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 45, 456.45, 567}

In [48]:
s5.add(5)
# Adding an element 5 in a set. We won't know where the element will be ordered

In [49]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 45, 456.45, 5, 567}

In [50]:
s5.add(5)

In [51]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 45, 456.45, 5, 567}

In [73]:
s5 = {(1, 2, 3), 12, '123', 2, 2, 2, 23, 234, 342, 4, 4, 45, 45, 456.45, 567}

In [74]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 4, 45, 456.45, 567}

In [75]:
s5.add([1,2,3])

#Can't add a list because list is mutable

TypeError: unhashable type: 'list'

In [76]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 4, 45, 456.45, 567}

In [77]:
s5.add(5)

In [78]:
s5

{(1, 2, 3), 12, '123', 2, 23, 234, 342, 4, 45, 456.45, 5, 567}

In [79]:
s5.remove(100)
# When removing an element if the given element is not present it will raise a Key Error

KeyError: 100

In [80]:
s5.remove(23)

# 23 is present so this removed the 23 from the set

In [81]:
s5

{(1, 2, 3), 12, '123', 2, 234, 342, 4, 45, 456.45, 5, 567}

In [82]:
s5.remove(45)

In [83]:
s5

{(1, 2, 3), 12, '123', 2, 234, 342, 4, 456.45, 5, 567}

In [84]:
s5.remove('123')

In [85]:
s5

{(1, 2, 3), 12, 2, 234, 342, 4, 456.45, 5, 567}

In [87]:
s5.add({1,2,3,4})

# Since sest itself is mutable we cant add set inside a set

TypeError: unhashable type: 'set'

In [88]:
A = {3, 4, 5, 6, 7, 2, 1}

In [89]:
B = {5, 6, 7, 8, 9, 10}

In [90]:
union_result = A.union(B)
print(union_result)
union_result2 = B.union(A)
print(union_result2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
intersection_result = A.intersection(B)
print(intersection_result)

{5, 6, 7}

In [92]:
difference = A.difference(B)
print(difference)

{1, 2, 3, 4}

In [93]:
difference = B.difference(A)
print(difference)

{8, 9, 10}

The symmetric difference between two sets A and B refers to the elements that are in either A or B, but not in both.

In [94]:
symmetric_difference_result = A.symmetric_difference(B)
print(symmetric_difference_result)

{1, 2, 3, 4, 8, 9, 10}

In [95]:
print(B.symmetric_difference(A))

{1, 2, 3, 4, 8, 9, 10}

In [96]:
countries = {'Nepal', 'India', 'USA', 'UK'}
print(countries)

african_countries = ('South Africa', 'Nigeria', 'Egypt')
countries.update(african_countries)
print(countries)

european_countries = ['Germany', 'France', 'Italy']
countries.update(european_countries)
print(countries)

{'Nepal', 'India', 'USA', 'UK'}
{'Nepal', 'Egypt', 'UK', 'USA', 'India', 'South Africa', 'Nigeria'}
{'Nepal', 'Germany', 'Egypt', 'Italy', 'UK', 'USA', 'India', 'South Africa', 'France', 'Nigeria'}

## update()

• Adds multiple elements from an iterable (list, tuple, set, etc.).

• It unpacks the elements of the iterable and adds them one by one to the set.

# Frozenset

Frozenset are set that are immutable.


Because it’s immutable, a frozenset can be used as a key in dictionaries or as an element in other sets, unlike regular sets which are unhashable.

In [98]:
# Creating a frozenset
my_frozenset = frozenset({1, 2, 3, 4, 5, 5, 5, 2, 2, 1, 3, 4})
print(my_frozenset)

frozenset({1, 2, 3, 4, 5})

In [99]:
type(my_frozenset)

frozenset

In [100]:
my_frozenset

frozenset({1, 2, 3, 4, 5})

In [104]:
my_frozenset.add(6)

# Its immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [105]:
my_frozenset.remove(2)
# Its immutable

AttributeError: 'frozenset' object has no attribute 'remove'

In [106]:
type(my_frozenset)

frozenset

In [107]:
my = frozenset([1,2,3,4])

In [108]:
type(my)

frozenset

In [109]:
my

frozenset({1, 2, 3, 4})